[build]
  functions = "functions"
  publish = "."
  # Set a simple build command
  command = "npm install" 
  
[functions]
  node_bundler = "esbuild"
  # This section ensures that the bundling and node version are set correctly
  external_node_modules = ["ytdl-core"] # Explicitly tell Netlify to bundle ytdl-core

[build.environment]
  # Setting NODE_VERSION here is the standard way now
  NODE_VERSION = "18"
