[build]
  functions = "functions"
  publish = "."
  command = "npm install" 
  
[functions]
  node_bundler = "esbuild"
  # This external modules list is correct
  external_node_modules = ["ytdl-core"] 

[build.environment]
  # Forcing Node 14 for stability with older YTDL methods
  NODE_VERSION = "14"
